@font-face {
    font-family: "ImagineDragons";
    src: url("../fonts/Devil\ Breeze\ Bold.ttf") format("truetype");
    font-weight: bold;
}

:root {
    --titulo: black;
    --texto: black;
    --contraste: #a4f479;
    --fondo: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: medium;
    font-weight: 400;
    color: var(--texto);  
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.5;
}

main {
    flex: 1;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.hide {
    display: none;
}

h2 {
    padding-bottom: 15px;
    padding-top: 10px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: var(--titulo);
}

a {
    color: cadetblue;
}

p {
    padding-bottom: 0.5rem;
}

blockquote {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.author {
    font-weight: 600;
    font-size: 1.5rem;
}

img {
    width:  60%;
    /*padding-top: 10px;*/
}

iframe {
    width: fit-content;
    border: none;
}

.black {
    color: var(--titulo);
}

.white {
    color: var(--fondo);
}

/*****************************************
************** header.html ***************
******************************************/

header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #3d6c70;
}

header a {
    text-decoration: none;
}

header h1 {
    font-family: "ImagineDragons";
    font-weight: bold;
    height: fit-content;
    font-size: 3rem;
    line-height: 2.5rem;
    color: var(--fondo);
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    display: flex;
    align-items: center;
    width: fit-content;
}

.logo-dragon-white {
    transform: rotate(180deg) scaleY(-1);
}

nav {
    margin-top: 1rem;
    color: var(--texto);;
}

nav ul {
    padding-left: 0;
}

nav ul li {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    padding-left: 0;
}

nav ul li::before {
    content: " · ";
    width: 10px;
}

nav ul li:first-child::before {
    content: "";
}

nav ul li a {
    color: inherit;
    border: none;
}

nav ul li a:hover {
    border: none;
    color: white;
}

.logo {
    width: auto;
    height: 100px;
    display: block;
}

.logo-white {
    transform: scaleX(-1);
    display: none;
}

.logo-dragon-black, .logo-dragon-white {
    width: auto;
    height: 100px;
}

/*****************************************
************** footer.html ***************
******************************************/

footer {    
    padding-top: 15px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    background-color: black;
    font-size: 0.9rem;
    font-weight: 700;
}

footer ul li {
    padding-left: 1rem;
    display: inline-block;
    padding-bottom: 15px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p {
    padding-bottom: 0px;
}

footer .menu li a:hover, footer .rrss li a:hover {
    border: none;
    color: yellowgreen;
}

/*****************************************
************** index.html ****************
******************************************/

.home {
    background-image: url(../img/background_5_1x.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

/* Para dispositivos con resolución 2x */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .home {
        background-image: url(../img/background_5_2x.webp);
    }
}

/* Para dispositivos con resolución 3x */
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    .home {
        background-image: url(../img/background_5.webp);
    }
}

.home main {
    padding-top: 10vh;
    height: 65vh;
}

.home header {
    background-color: transparent;
}

.home .logo{
    display: inline;
}

.home .logo-white {
    transform: rotate(180deg) scaleX(-1);
}

.home footer {
    color: var(--texto);
    padding-bottom: 20px;
    background-color: transparent;
    background: linear-gradient(to bottom, transparent, gray);
}

.home a {
    color: inherit;
    border: none;
}

.home .menu li a:hover, .home .rrss li a:hover {
    border: none;
    color: white;
}

.home main {
    display: flex;
    align-items: flex-end;
}

.ticket {
    width: 300px;
    height: 150px;
    background-image: url(../img/ticket.jpg);
    background-size: cover;
    background-position: center;
    /*clip-path: path("M10,0 H290 A10,10 0 0 1 300,10 V50 a10,10 0 0 0 0,20 V140 a10,10 0 0 1 -10,10 H10 a10,10 0 0 1 -10,-10 V70 a10,10 0 0 0 0,-20 V10 A10,10 0 0 1 10,0 Z");*/
    clip-path: polygon(10px 0, 290px 0, 300px 10px, 300px 50px, 300px 70px, 290px 80px, 290px 100px, 290px 120px, 290px 140px, 280px 150px, 10px 150px, 0 140px, 0 130px, 0 110px, 0 90px, 0 70px, 0 50px, 0 30px, 0 10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease-out;
    margin: 0 auto;
    text-align: center;
}

.ticket:hover {
    transform: scale(1.5);
}

.ticket p {
    position: relative;
    top: 50%;
    color: var(--fondo);
    font-weight: bold;
    font-size: 1.5rem;;
}

/*****************************************
*********** presentacion.html ************
******************************************/

.presentation {
    background-image: url(../img/background_1x.webp); /* Cambiar 'ruta/de/tu/imagen.jpg' por la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Para dispositivos con resolución 2x */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .presentacion {
        background-image: url(../img/background_2x.webp);
    }
}

/* Para dispositivos con resolución 3x */
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    .presentacion {
        background-image: url(../img/background.webp);
    }
}

.presentation p, .detalle p, .singles li {
    opacity: .8;
}

figure {
    text-align: center;
    margin-bottom: 1rem;
}

.disc {
    width: 20%;
    animation: spin 5s linear infinite, shine 2s ease-in-out infinite alternate;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes shine {
    from {
        filter: brightness(1);
    }
    to {
        filter: brightness(1.5);
    }
}

.logo-super {
    width: fit-content;
}

.presentation figure img {
    width: 100%;
}

.members, .member {
    margin-top: 2rem;
}

.member h3, h3#aclaracion {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

#members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
}

#members a {
    display: contents;
}

#members img {
    max-width: calc(25% - 5px); 
    height: auto;
    object-fit: cover; 
    transition: opacity 0.5s ease-in-out;
}

#members figcaption {
    font-weight: 600;    
}

#members:hover img {
    opacity: 0.2;
}
  
#members img:hover {
    opacity: 1;
}  

/*****************************************
************* musica.html ****************
******************************************/

.music {
    background: url(../img/background_music_1x.webp) no-repeat center/cover;
}

/* Para dispositivos con resolución 2x */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .music {
        background-image: url(../img/background_music_2x.webp);
    }
}

/* Para dispositivos con resolución 3x */
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    .music {
        background-image: url(../img/background_music.webp);
    }
}

.music .container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
}

.img-inline {
    text-align: center;
}

.img-inline li {
    list-style-type: none;
}

.img-container {
    position: relative;
    display: inline-block;
    max-width: fit-content;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--texto);
    font-size: 1.5em;/*24px;*/
    font-weight: bold;
    text-align: center;
    opacity: 0; /* Ocultar el texto inicialmente */
    transition: opacity 1.5s ease; /* Agregar transición suave */
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container:hover img {
    opacity: .1; /* Mostrar overlay al pasar el ratón por encima */
}

.img-container:hover .overlay {
    opacity: 1; /* Mostrar texto al pasar el ratón por encima */
}

/*****************************************
***************** Detalle ****************
******************************************/

.night-visions {
    background: url(../img/background_night_visions_1x.webp) no-repeat center/cover;
}

/* Para dispositivos con resolución 2x */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .night-visions {
        background-image: url(../img/background_night_visions_2x.webp);
    }
}

/* Para dispositivos con resolución 3x */
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    .night-visions {
        background-image: url(../img/background_night_visions.webp);
    }
}

.smoke-mirrors {
    background: url(../img/background_smoke_mirrors_1x.webp) no-repeat center/cover;
}

/* Para dispositivos con resolución 2x */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .smoke-mirrors {
        background-image: url(../img/background_smoke_mirrors_2x.webp);
    }
}

/* Para dispositivos con resolución 3x */
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    .smoke-mirrors {
        background-image: url(../img/background_smoke_mirrors.webp);
    }
}

.origins {
    background: url(../img/background_origins_1x.webp) no-repeat center/cover;
}

/* Para dispositivos con resolución 2x */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .origins {
        background-image: url(../img/background_origins_2x.webp);
    }
}

/* Para dispositivos con resolución 3x */
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    .origins {
        background-image: url(../img/background_origins.webp);
    }
}

.evolve {
    background: url(../img/background_evolve_1x.webp) no-repeat center/cover;
}

/* Para dispositivos con resolución 2x */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .evolve {
        background-image: url(../img/background_evolve_2x.webp);
    }
}

/* Para dispositivos con resolución 3x */
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    .evolve {
        background-image: url(../img/background_evolve.webp);
    }
}

.mercury-act-1 {
    background: url(../img/background_mercury_act_1_1x.webp) no-repeat center/cover;
}

/* Para dispositivos con resolución 2x */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .mercury-act-1 {
        background-image: url(../img/background_mercury_act_1_2x.webp);
    }
}

/* Para dispositivos con resolución 3x */
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    .mercury-act-1 {
        background-image: url(../img/background_mercury_act_1.webp);
    }
}

.mercury-act-2 {
    background: url(../img/background_mercury_act_2_1x.webp) no-repeat center/cover;
}

/* Para dispositivos con resolución 2x */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .mercury-act-2 {
        background-image: url(../img/background_mercury_act_2_2x.webp);
    }
}

/* Para dispositivos con resolución 3x */
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    .mercury-act-2 {
        background-image: url(../img/background_mercury_act_2.webp);
    }
}

.detalle #albums {
    text-align: center;
}

.detalle .overlay {
    color: white;
}

.detalle img {
    width: 100%;
}

.detalle ol {
    text-align: center;
    list-style-position: inside;
}

.singles {
    margin-left: 2rem;
    margin-top: 1.5rem;
}

.singles li {
    margin-bottom: 0.5rem;;
}

.left-block {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    color: white;
    margin-bottom: 2rem;
}

.right-block {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
}

/*****************************************
************ enlaces.html ****************
******************************************/

.enlaces {
    background: url(../img/portrait_1x.webp) no-repeat center/cover;
}

/* Para dispositivos con resolución 2x */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .enlaces {
        background-image: url(../img/portrait_2x.webp);
    }
}

/* Para dispositivos con resolución 3x */
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    .enlaces {
        background-image: url(../img/portrait.webp);
    }
}

.enlaces .container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
}

.enlaces li ul {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

/*****************************************
**************** Tablet ******************
******************************************/

@media screen and (min-width: 768px) {    
    .container {
        max-width: 95%;
    }

    .home .logo {
        height: auto;
    }
    
    iframe {
        height: 270px;
    }

    figcaption{
        font-size: 0.8rem;
    }

    .presentation .img-inline {
        grid-template-columns: repeat(2,1fr);
    }

    .img-inline {
        text-align: center;
        padding-bottom: 20px;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        display: grid;
    }

    .detalle .container, .presentation .container {
        display: flex;
        width: 100%;
        align-items: stretch;
    }
    
    .left-block {
        flex: 1;
        margin-bottom: 0;
    }
    
    .right-block {
        flex: 2;
        margin-left: 20px;
    }

    .detalle h2 {
        text-align: left;
    }

    .detalle #albums {
        display: none;
    }

    .detalle iframe, .presentation iframe {
        width: 100%;
    }    
}

/*****************************************
************** Escritorio ****************
******************************************/

@media screen and (min-width: 1200px) {    
    .container {
        max-width: 80%;
    }

    .home .logo-white {
        transform: scaleX(-1);
    }

    footer .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    iframe {
        width: 60%;
        height: 400px;
    }

    figcaption{
        font-size: 0.9rem;
        text-align: center;
    }

    .img-inline { 
        grid-template-columns: repeat(3,1fr);
    }
}