@font-face {
    font-family: "ImagineDragons";
    src: url("../fonts/Devil\ Breeze\ Bold.woff2") format("truetype");
    font-weight: bold;
    font-display: swap;
}

:root {
    --titulo: black;
    --texto: black;
    --contraste: #a4f479;
    --fondo: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: medium;
    font-weight: 400;
    color: var(--texto);  
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.5;
}

main {
    flex: 1;
    padding-top: 30px;
    padding-bottom: 30px;
}

.background-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    z-index: -1;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.hide {
    display: none;
}

h2 {
    padding-bottom: 15px;
    padding-top: 10px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: var(--titulo);
}

a {
    color: cadetblue;
}

p {
    padding-bottom: 0.5rem;
}

blockquote {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.author {
    font-weight: 600;
    font-size: 1.5rem;
}

img {
    width:  60%;
    height: auto;
}

iframe {
    width: fit-content;
    border: none;
}

.black {
    color: var(--titulo);
}

.white {
    color: var(--fondo);
}

/*****************************************
************** header.html ***************
******************************************/

header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #3d6c70;
}

header a {
    text-decoration: none;
}

header h1 {
    font-family: "ImagineDragons";
    font-weight: bold;
    height: fit-content;
    font-size: 3rem;
    line-height: 2.5rem;
    color: var(--fondo);
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    display: flex;
    align-items: center;
    width: fit-content;
}

.logo-dragon-white {
    transform: rotate(180deg) scaleY(-1);
}

nav {
    margin-top: 1rem;
    color: var(--fondo);
}

nav ul {
    padding-left: 0;
}

nav ul li {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    padding-left: 0;
}

nav ul li::before {
    content: " 路 ";
    width: 10px;
}

nav ul li:first-child::before {
    content: "";
}

nav ul li a {
    color: inherit;
    border: none;
}

nav ul li a:hover {
    border: none;
    color: var(--texto);
}

.logo {
    width: auto;
    height: 100px;
    display: block;
}

.logo-white {
    transform: scaleX(-1);
    display: none;
}

.logo-dragon-black, .logo-dragon-white {
    width: auto;
    height: 100px;
}

.fade {
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
}

.fade.active {
    opacity: 1;
}

/*****************************************
************** footer.html ***************
******************************************/

footer {    
    padding-top: 15px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    background-color: black;
    font-size: 0.9rem;
    font-weight: 700;
}

footer ul li {
    padding-left: 1rem;
    display: inline-block;
    padding-bottom: 15px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p {
    padding-bottom: 0px;
}

footer .menu li a:hover, footer .rrss li a:hover {
    border: none;
    color: yellowgreen;
}

/*****************************************
************** index.html ****************
******************************************/

.home {
    text-align: center;
}

.home main {
    padding-top: 10vh;
    height: 65vh;
}

.home header {
    background-color: transparent;
}

.home .logo{
    display: inline;
}

.home .logo-white {
    transform: rotate(180deg) scaleX(-1);
}

.home footer {
    color: var(--texto);
    padding-bottom: 20px;
    background-color: transparent;
    background: linear-gradient(to bottom, transparent, gray);
}

.home a {
    color: inherit;
    border: none;
}

.home .menu li a:hover {
    border: none;
    color: var(--texto);
}

.home .rrss li a:hover {
    border: none;
    color: white;
}

.home main {
    display: flex;
    align-items: flex-end;
}

.ticket {
    width: 300px;
    height: 150px;
    background-size: cover;
    background-position: center;
    clip-path: polygon(10px 0, 290px 0, 300px 10px, 300px 50px, 300px 70px, 290px 80px, 290px 100px, 290px 120px, 290px 140px, 280px 150px, 10px 150px, 0 140px, 0 130px, 0 110px, 0 90px, 0 70px, 0 50px, 0 30px, 0 10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease-out;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.ticket img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para asegurar que la imagen cubra todo el contenedor sin deformarse */
}

.ticket:hover {
    transform: scale(1.5);
}

.ticket p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--fondo);
    font-weight: bold;
    font-size: 1.5rem;;
}

/*****************************************
*********** presentacion.html ************
******************************************/

.presentation p, .detalle p, .singles li {
    opacity: .8;
}

figure {
    text-align: center;
    margin-bottom: 1rem;
}

.disc {
    width: 20%;
    animation: spin 5s linear infinite, shine 2s ease-in-out infinite alternate;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes shine {
    from {
        filter: brightness(1);
    }
    to {
        filter: brightness(1.5);
    }
}

.logo-super {
    width: fit-content;
}

.presentation figure img {
    width: 100%;
    height: auto;
}

figure > a {
    align-items: center;
    display: flex;
    position: relative;
}

figure .ytlight__play {
    width: 10%;
    position: absolute;
    left: 45%;
}

.members, .member {
    margin-top: 2rem;
}

.member h3, h3#aclaracion {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

#members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
}

#members a {
    display: contents;
}

#members img {
    max-width: calc(25% - 5px);
    height: auto;
    object-fit: cover; 
    transition: opacity 0.5s ease-in-out;
}

#members figcaption {
    font-weight: 600;
    min-height: 24px;    
}

#members:hover img {
    opacity: 0.2;
}
  
#members img:hover {
    opacity: 1;
}  

/*****************************************
************* musica.html ****************
******************************************/

.music img {
    width: 100%;
}

.music .container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
}

.img-inline {
    text-align: center;
}

.img-inline li {
    list-style-type: none;
}

.img-container {
    position: relative;
    display: inline-block;
    max-width: 100%;/*max-width: fit-content;*/
    aspect-ratio: 16/9;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--texto);
    font-size: 1.5em;/*24px;*/
    font-weight: bold;
    text-align: center;
    opacity: 0; /* Ocultar el texto inicialmente */
    transition: opacity 1.5s ease; /* Agregar transici贸n suave */
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container:hover img {
    opacity: .1; /* Mostrar overlay al pasar el rat贸n por encima */
}

.img-container:hover .overlay {
    opacity: 1; /* Mostrar texto al pasar el rat贸n por encima */
}

/*****************************************
***************** Detalle ****************
******************************************/

.detalle .current-cover {
    border: 2px solid white;
}

.detalle .img-inline {
    visibility: hidden;
    height: 0;
    /*transition: height 0.3s, visibility 0.3s;*/
}

.detalle .img-inline.active {
    visibility: visible;
    height: auto;
    margin: 1rem;
}

.detalle #albums {
    text-align: center;
    cursor: pointer;
}

.detalle .overlay {
    color: white;
}

.detalle img, .detalle video {
    width: 100%;
}

.detalle ol {
    text-align: center;
    list-style-position: inside;
}

.singles {
    margin-left: 2rem;
    margin-top: 1.5rem;
}

.singles li {
    margin-bottom: 0.5rem;;
}

.left-block {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    color: white;
    margin-bottom: 2rem;
}

.right-block {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
}

/*****************************************
************ enlaces.html ****************
******************************************/

.enlaces .container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
}

.enlaces li ul {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

/*****************************************
**************** Tablet ******************
******************************************/

@media screen and (min-width: 768px) {    
    .container {
        max-width: 95%;
    }

    .home .logo {
        height: auto;
    }
    
    iframe {
        height: 270px;
    }

    figcaption{
        font-size: 0.8rem;
    }

    .presentation .img-inline {
        grid-template-columns: repeat(2,1fr);
    }

    .img-inline {
        text-align: center;
        padding-bottom: 20px;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        display: grid;
    }

    .detalle .container, .presentation .container {
        display: flex;
        width: 100%;
        align-items: stretch;
    }
    
    .left-block {
        flex: 1;
        margin-bottom: 0;
    }
    
    .right-block {
        flex: 2;
        margin-left: 20px;
    }

    .detalle h2 {
        text-align: left;
    }

    .detalle #albums {
        display: none;
    }

    .detalle iframe, .presentation iframe {
        width: 100%;
    }    
}

/*****************************************
************** Escritorio ****************
******************************************/

@media screen and (min-width: 1200px) {    
    .container {
        max-width: 80%;
    }

    .home .logo-white {
        transform: scaleX(-1);
    }

    footer .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    iframe {
        width: 60%;
        height: 400px;
    }

    figcaption{
        font-size: 0.9rem;
        text-align: center;
    }

    .img-inline { 
        grid-template-columns: repeat(3,1fr);
    }

    .enlaces ul {
        max-width: 100%;
        word-break: break-word;
        white-space: normal;
    }

    .enlaces li {
        max-width: 100%;
    }
}